{% extends 'base.html' %}
{% block content %}
  {% for msg in get_flashed_messages() %}
  <h1>{{ msg }}</h1>
  {% endfor %}
  <h1>{{ question.question }}</h1>

  <form action="/answer" method="POST">

      <!-- you should have one item like this for every choice -->
      {% for choice in question.choices %}
      <p>
        <input
            type="radio"
            name="answer"
            value="{{choice}}">
        {{choice}}
      </p>
      {% endfor %}
      {% if question.allow_text %}
      <p>
        <input type="text" name="text-response" value="because it sucks...">
      </p>
      {% endif %}

    <button>Continue</button>
  </form>

{% endblock %}
